version: '3'
services:
  project_db:
    container_name: project_db
    build: ./db
    image: project_db
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - '5432:5432'
