version: '3'
services:
  project_db:
    container_name: project_db
    build: ./db
    image: project_db
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - '5432:5432'

  project_api:
    container_name: project_api
    build:
      context: ../
      dockerfile: docker/api/Dockerfile
    ports:
      - '7000:8080'
    volumes:
      - ../api-service/config:/root/service/config
      - ../api-service/migrations:/root/service/migrations
      - ../api-service/src:/root/service/src
      - ../api-service/typings:/root/service/typings
      - ../packages/config-utils/dist:/root/packages/config-utils/dist
      - ../packages/db-utils/dist:/root/packages/db-utils/dist
      - ../packages/http-utils/dist:/root/packages/http-utils/dist
      - ../packages/logger/dist:/root/packages/logger/dist
