name: CI

on: [push, pull_request]

jobs:
  # test:
  #   name: Test
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@master
  #     - name: Fetch dependencies
  #       run: npm install
  #     - name: Run tests
  #       run: npm run test

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@master
      - name: Prepare monorepo packages
        run: ./.github/scripts/prepare-monorepo.sh
      - name: Check linting
        run: cd ./api-service && mask lint

  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@master
      - name: Prepare monorepo packages
        run: ./.github/scripts/prepare-monorepo.sh
      - name: Check formatting
        run: cd ./api-service && mask format --check
