name: CI

on: [push, pull_request]

jobs:
  # test:
  #   name: Test
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@master
  #     - name: Fetch dependencies
  #       run: npm install
  #     - name: Run tests
  #       run: npm run test
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Setup monorepo packages
        run: |
          echo "$PATH"
          ls -al .
          ls -al /usr/share/rust/.cargo/bin
          ls -al /usr/local/sbin
          ls -al /usr/local/bin
          ls -al /usr/sbin
          ls -al /usr/bin
          ls -al /sbin
          ls -al /bin
          ls -al /snap/bin

          # Install mask
          curl -OL https://github.com/jakedeichert/mask/releases/download/v0.7.1-final/mask-v0.7.1-final-x86_64-unknown-linux-gnu.zip \
            && unzip mask*.zip \
            && mv mask-*/mask ./mask

          which mask
          # Install all packages
          ./mask bootstrap

          ls node_modules/@
      - name: Check linting
        run: cd ./api-service && ./mask lint
  # format:
  #   name: Format
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@master
  #     - name: Fetch dependencies
  #       run: npm install
  #     - name: Check formatting
  #       run: npm run format:check
